body {
    background-color: rgb(147, 191, 154);
    font-family: 'Crimson Text', serif;
    color: white;
    text-align: center;
    margin: 0 auto;
    padding: 0;
    max-width: 800px;
}

h1 {
    font-size: 350%;
    margin: 0 auto;
}

