html,
body {
	background-color: white;
	font-family: 'Crimson Text', serif;
	color: black;
	text-align: left;
	padding: 0;
	max-width: 800px;
	padding: 0px;
	margin: 0px auto;
	height: 100%;
	min-height: 100%;
}

h1 {
	font-size: 250%;
}

h2 {
	font-family: 'Dawning of a New Day', cursive;
	font-size: 250%;
	font-weight: 300;
}

h1,
h2 {
	margin: 0;
}

.home {
	display: flex;
	flex-direction: row;
	align-items: stretch;
	height: 100%;
	min-height: 100%;
}

.home img {
	border: none;
	height: 75%;
}

.home-img-container {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.icon-container {
	display: flex;
	flex-direction: row;
	padding: 0;
	margin: 0;
	justify-content: flex-start;
}

.icon-container img {
	opacity: 0.7;
}

.icon-container img:hover {
	opacity: 1;
}

main {
	background-color: #ffd500;
	padding: 0 60px 0 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
}

.icon-container {
	border: none;
	margin-top: 25px;
}

img.icon {
	width: 35px;
	margin-right: 10px;
}

p {
	line-height: 1.5em;
	letter-spacing: 0.02em;
}

p a {
	color: black;
	padding: 0 3px;
}

p a:hover {
	background-color: white;
}
/* 
img.icon:hover {
	animation-name: spin;
	animation-duration: 800ms;
	animation-iteration-count: 1;
	animation-timing-function: linear;
	animation-delay: 100ms;
}
@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
} */

@media (max-width: 750px) {
	html,
	body {
		margin: 0;
		padding: 0;
		height: 100vh;
		min-height: 100%;
		position: fixed;
	}

	.home img {
		height: 200px;
	}

	main {
		height: 100vh;
		min-height: 100%;
	}

	img.icon {
		width: 25px;
		height: 25px;
	}
}

.projects,
.contact {
	margin-top: 100px;
}

.projects img {
	width: 100%;
}

.projects h2,
.contact h2 {
	font-size: 350%;
}

article {
	width: 95%;
	display: flex;
	margin: 10px auto;
	padding-top: 30px;
	align-items: center;
}

.project-img-container {
	display: flex;
	flex-direction: column;
	flex-basis: 60%;
}

.project-text-container {
	flex-basis: 40%;
	background-color: #ffd500;
	padding: 30px 45px 30px 15px;
}

.projects-button-container {
	display: flex;
	justify-content: center;
}

.projects-button-container a {
	margin: 5px 10px 5px 0;
	text-decoration: none;
	border: 1px solid black;
	padding: 5px 10px;
	color: black;
	width: 50px;
	text-align: center;
}

.projects-button-container a:hover {
	background-color: white;
}

form {
	padding: 50px 75px;
	display: flex;
	flex-direction: column;
}

input,
textarea {
	margin-bottom: 25px;
	padding: 10px;
	font-size: 14px;
	font-family: 'Crimson Text', serif;
}

input:focus,
textarea:focus {
	outline: black 1px dashed;
}

textarea {
	resize: vertical;
}

#submit-btn {
	width: 45px;
	text-align: center;
	margin: 0 auto;
	border: 1px solid black;
}

#submit-btn:hover {
	cursor: pointer;
	background-color: #ffd500;
}

footer {
	text-align: center;
	margin: 55px 0 10px 0;
	padding: 20px;
	font-family: 'Dawning of a New Day', cursive;
}
